<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/views/style.css">
</head>
<body>
<div class="wrapper">
    <br>
    <div class="container">
        <div class="row">
            <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p id="lose-info-message" class="alert text-center"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="submitModal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 stats">
                <h4 class="text-center">Statistic</h4>
                <p class="plays" id="user-plays">Plays: <%= user.playsCount %> </p>
                <%   if (user.wins != 0 && user.playsCount !=0){ %>
                <p class="winns" id="user-wins">Wins: <%= user.wins %>  (<%= (user.wins/user.playsCount*100).toFixed(1)  %>%) </p>
                <% } else {%>
                <p class="winns">Wins: 0</p>
                <% } %>
                <div class="btn btn-danger disabled" id="gameScore">
                    Score now: 0
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="dealer">
                    <p class="userObj">Dealer</p>
                    <ul class="dealer-cards">
                        <li>
                            <p id="d1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                        </li>
                        <li>
                            <p id="d2">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="player">
                    <p class="userObj"><%= user.nick %></p>
                    <ul class="player-cards">
                        <li>
                            <p id="p1">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                        </li>
                        <li>
                            <p id="p2">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="col-md-4 buttons">
                    <button class="btn btn-primary" id="start" onclick="start()">Start</button>
                    <button class="btn btn-primary" id="addcard">Add card</button>
                    <button class="btn btn-primary" id="results" >Results</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script>
    function newGame(){
        location.reload();
    }
    let socket = io.connect('http://localhost:5000');
    socket.emit('sendUser', '<%= user._id %>');
    socket.on('RefreshUser', (gamesCount, wins)=>{
        $('#user-plays').text(`Plays: ${gamesCount} `);
    $('#user-wins').text(`Wins: ${wins}  (${(wins/gamesCount*100).toFixed(1)})%)`);
    });
    $('#addcard').hide();
    $('#results').hide();
    $('.scope').hide();
    function start(){
        $('#addcard').show();
        $('#results').show();
        $('#start').hide();
        $('#playerModal').modal('hide');
        $('.scope').show();
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        function getCard() {
            let cards = ["2","3","4","5","6","7","8","9","10","J","Q","K","A"];
            return cards[getRandomInt(0, cards.length -1)];
        }
        function getSum(arr) {
            let sum = 0;
            arr.forEach((item)=>{
                if(item!="A") {
                if (item == "J" || item == "Q" || item == "K") item=10;
                else item = parseInt(item);
                sum+=item;
            } else {
                if (sum>10) sum++;
                else sum+=11;
            }
        });
            return sum;
        }
        function addCard(){
            let cardNumber = getCard();
            $('#gameScore').text(`Score now: ${getSum(player)}`);
            let i = 3;
            $('.player-cards').append(`
                <li>
                  <p id="p${i}">
                      ${cardNumber}
                  </p>
                </li>
              `);
            i++;
            return(cardNumber);
        }
        let dealer = [getCard(), getCard()];
        let player = [getCard(), getCard()];
        let answer="";
        $('#p1').text(player[0]);
        $('#p2').text(player[1]);
        $('#d1').text(dealer[0]);
        if (player[0] == 'A' && player[1] == 'A') player[1] = 1;
        $('#gameScore').text(`Score now: ${getSum(player)}`);
        $('#addcard').click(()=>{
            let newCard = addCard();
            player.push(newCard);
            $('#gameScore').text(`Score now: ${getSum(player)}`);
            if (getSum(player) > 21){
                $('#addcard').hide();
                showModal('playerLose', ' alert-danger',`Проигрыш!! Вы набрали больше 21 очка и проиграли, нажмите 'ОК' для новой игры`);
            }
        });
        $('#submitModal').click(()=>{
            newGame();
        });
        $('#results').click(()=>{
            checkResults();
        });
        function showModal(socketName,itemClass,message){
            $('#playerModal').modal('show');
            $('#playerModal').modal({
                show:true,
                backdrop:true,
                keyboard:true
            });
            $('#lose-info-message').addClass(itemClass);
            $('#lose-info-message').text(message);
            $( "#playerModal" ).click(()=> {
                newGame();
            });
            let playerSum = getSum(player);
            let dealerSum = getSum(dealer);
            socket.emit(socketName, playerSum, dealerSum);
        }
        function checkResults(){
            let playerSum = getSum(player);
            let dealerSum = getSum(dealer);
            if (playerSum == 21){
                if ((playerSum == 21)&&(dealerSum < 21)) {
                    showModal('playerWin',' alert-success', `Победа!! Вы набрали 21 очко, а диллер ${dealerSum}, нажмите 'ОК' для новой игры`);
                } else if ((playerSum == 21)&&(dealerSum == 21)) {
                    showModal('draw',' alert-warning',`Ничья!! Вы набрали ${playerSum} очка(ов), и дилер ${dealerSum}, нажмите 'ОК' для новой игры`);
                }else {
                    showModal('playerWin',' alert-success',`Победа!! Вы набрали 21 очко, а диллер ${dealerSum}, нажмите 'ОК' для новой игры`);}
            } else {
                if (playerSum > dealerSum) {
                    showModal('playerWin',' alert-success',`Победа!!Вы набрали ${playerSum} очка(ов), а дилер ${dealerSum}, нажмите 'ОК' для новой игры`);
                } else if (playerSum < dealerSum) {
                    showModal('playerLose',' alert-danger',`Проигрыш!! Вы набрали ${playerSum} очка(ов), а дилер ${dealerSum}, нажмите 'ОК' для новой игры`);
                } else {
                    showModal('draw',' alert-warning',`Ничья!! Вы набрали ${playerSum} очка(ов), а дилер ${dealerSum}, нажмите 'ОК' для новой игры`);
                }
            }
        }
    }
</script>
</body>
</html>
